PORT=6666
PROFILE=dev

DB_URL=jdbc:h2:mem:testdb
DB_USERNAME=username
DB_PASSWORD=password
DB_DRIVER=org.h2.Driver
DB_DDL=create // validate, create-only, drop, update, create, create-drop, none
DB_INIT=true
DB_INIT_MODE=always  // always, embedded, never

TWILIO_ACCOUNT_SID=AC154a409b184375f36f196de41d60cc07
TWILIO_AUTH_TOKEN=5094cbc0f4aed70d8a1bb54b3f54056b
TWILIO_TRIAL_NUMBER=+16203250968

JWT_SECRET=helloworld123
JWT_ACCESS_TOKEN_EXPIRATION=100000
JWT_REFRESH_TOKEN_EXPIRATION=100000